<html lang="en">
  <head>
    <!--styles-->
    <%- include('./head') %>
    <!--extends styles-->
    <%- style %>
    <!--extends meta-->
    <%- meta %>
  </head>
  <body>
    <div class="container py-3"><%- body %></div>

    <!--scripts-->
    <%- include('./scripts') %>
    <!--extends scripts-->
    <%- script %>
  </body>
</html>
